html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Public Sans';
}

@font-face {
  font-family: "Public Sans";
  src: url('../public/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Public Sans";
  src: url('../public/fonts/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf');
  font-weight: 1 999;
  font-style: italic;
}
